# https://github.com/github/gitignore/blob/master/C.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Locally stored "Eclipse launch configurations"
*.launch

# E2studio #
Debug/
Release/

.vscode/

.DS_Store